$control_color : #000 !default;
$control_color_placeholder : #AAAAAA !default;
$control_background : #fff !default;
$control_fontSize : 16px !default;
$control_border-color: 1px solid #adafb2!default;
$control_border-radius : 2px;

@mixin controls(
		$control_color : $control_color ,
		$control_background : $contro_background,
		$control_fontSize : $control_fontSize,
		$control_border-radius : $control_border-radius,
		$control_color_placeholder : $control_color_placeholder
	){
		.pmui-textcontrol,
		.pmui-dropdownlistcontrol,
		.pmui-textareacontrol,
		.pmui-passwordcontrol,
		.pmui-uploadcontrol,
		.pmui-datetimecontrol {
		  font-size: $control_fontSize;
		  border-radius : $control_border-radius;
		  @include box-sizing('border-box');
		  background : $control_background ;
		  display: inline-block;
		  text-align: 'left';
		  padding: 4px 6px;
		  color: $control_color;
		  border: $control_border-color;
		}

		.pmui-textcontrol, .pmui-passwordcontrol {
			color : $control_color;
		}

		.pmui-textcontrol:-ms-input-placeholder, .pmui-passwordcontrol:-ms-input-placeholder {
			color : $control_color_placeholder;
		}		 

		select.pmui-dropdownlistcontrol {
		   height: 36px;
		}


		.pmui-textareacontrol {
		    width: 100%;
		}
		.pmui-selectablecontrol span{
			font-size: $control_fontSize;
		}
}