$datepicker_backgroundColor: #F8F8F8;
$datepicker_color: #000;
$datepicker_fontSize: 12px;
$datepicker_boxShadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
$datepicker-header_backgroundColor:#F8F8F8;
$datepicker-headerWeek_backgroundColor:#F8F8F8;
$datepicker-headerWeek_color:#000;
$datepicker-headerWeek_fontSize:0.8em;
$datepicker-day_backgroundColor:#F8F8F8;
$datepicker-day-hover_backgroundColor: #D0D0D0;
$datepicker-day_color:#000;
$datepicker-button_color: #000;
$datepicker-button_backgroundColor:#C0C0C0; 


@mixin pmui-datepicker(
		$base: datepicker,
		$datepicker_backgroundColor : $datepicker_backgroundColor,
		$datepicker_color : $datepicker_color,
		$datepicker_fontSize : $datepicker_fontSize,
		$datepicker_boxShadow : $datepicker_boxShadow,		
		$datepicker-header_backgroundColor : $datepicker-header_backgroundColor,
		$datepicker-headerWeek_backgroundColor : $datepicker-headerWeek_backgroundColor,
		$datepicker-headerWeek_color : $datepicker-headerWeek_color,
		$datepicker-headerWeek_fontSize : $datepicker-headerWeek_fontSize,
		$datepicker-day_backgroundColor : $datepicker-day_backgroundColor,
		$datepicker-day-hover_backgroundColor : $datepicker-day-hover_backgroundColor,
		$datepicker-day_color : $datepicker-day_color,
		$datepicker-button_color : $datepicker-button_color,
		$datepicker-button_backgroundColor : $datepicker-button_backgroundColor
	) {

			.pmui-#{$base} {
			  font-size: $datepicker_fontSize;
			  width: 200px;
			  position: absolute;
			  border: #888 1px solid;
			  color: $datepicker_color;
			  background-color: $datepicker_backgroundColor;
			  -webkit-box-shadow: $datepicker_boxShadow;
			  -moz-box-shadow: $datepicker_boxShadow;
			  box-shadow: $datepicker_boxShadow;
			}

			.pmui-datetimecontrol {
			  border: 1px solid #ccc;
			}

			.pmui-#{$base} input {
			  border:#888 1px  solid;
			  font-size: 0.8em;
			  text-align: center;
			  width: 100%;
			}

			.pmui-#{$base}  a {
			  text-decoration: none;
			  color: inherit;
			}

			.pmui-#{$base}-header {
			  font-size: 1.2em;
			  background-color: $datepicker-header_backgroundColor;
			}

			.pmui-#{$base}-head-table {
			  width: 100%; 
			}

			.pmui-#{$base}-month-selector select,
			.pmui-#{$base}-year-selector select {
			  background: none;
			  border: none;
			}

			.pmui-#{$base}-month-selector {
			  text-align: left;
			}

			.pmui-#{$base}-year-selector {
			  text-align: right;
			}

			.pmui-#{$base}-table {
			  width: 100%;  
			}

			.pmui-#{$base}-table tr {
			  margin: 0;
			  padding: 0;
			}

			.pmui-#{$base}-table td {
			  text-align: center;
			  background: #F0F0F0;
			  padding: 1px;
			}

			.pmui-#{$base}-table td a {
			  display: block;
			  background-color: $datepicker-day_backgroundColor;
			  color:$datepicker-day_color;
			}

			.pmui-#{$base}-table td a:hover,
			.pmui-#{$base}-table td .selected {
			  background-color: #D0D0D0;
			}

			.pmui-#{$base}-table thead th {
			   font-size: 0.8em;
			   color:$datepicker-headerWeek_color;
			   background-color: $datepicker-headerWeek_backgroundColor ;
			}

			.pmui-#{$base}-disabled-date {
			  color: #888;
			}

			.pmui-#{$base}-footer {
			  padding: 4px;
			}

			.pmui-#{$base}-footer div {
			  display: inline-block;
			}

			.pmui-#{$base}-button {
			  font-family: Arial;
			  background-color: $datepicker-button_backgroundColor;
			  padding: 1px;
			  border: solid #888;
			  border-width: 1px;
			  margin: 1px;
			  /*color:$datepicker-button_color;*/
			}
}



