$form_backgroundColor: #eef1f5 !default;
$form_fontSize: 16px !default;
$form-header_backgroundColor: #eef1f5  !default;
$form-title_color: red !default;
$form-title_fontSize: 1.2em	!default;
$form-buttonBar_background : #eef1f5 !default;
$form-formpanel-fieldset_borderColor : #000 !default;
$form-formpanel-fieldset_color : #000 !default;
$form-buttonsBar_background: #17a086 !default;
$form-form_family : 'Chivo', sans-serif;

@mixin form (
		$form_backgroundColor:$form_backgroundColor,
		/*$form_fontFamily:$form_fontFamily,*/
		$form_fontSize:$form_fontSize,
		$form-header_backgroundColor:$form-header_backgroundColor,
		$form-title_color:$form-title_color,
		$form-title_fontSize:$form-title_fontSize,
		$form-buttonBar_background: $form-buttonBar_background,
		$form-formpanel-fieldset_borderColor : $form-formpanel-fieldset_borderColor,
		$form-formpanel-fieldset_color : $form-formpanel-fieldset_color,
		$form-form_family :$form-form_family
	) {
		.pmui-form {
		  background-color: $form_backgroundColor;
		}

		.pmui-form-title,
		.pmui-form-footer {
		    text-align: center;
		}

		.pmui-form-header {
		    padding: 0.4em;
		    background-color : $form-header_backgroundColor;
		}

		.pmui-form-title {
		    font-size: $form-title_fontSize;
		    margin: 0;
		    line-height: 100%;
		    overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    color : $form-title_color;
		}

		.pmui-form fieldset {
			border-color: $form-formpanel-fieldset_borderColor;
			color: $form-formpanel-fieldset_color;
		}
		/*.pmui-form .pmui-buttonpanel a {
			color: #fff;
			font-size: 16px;
			background: $form-buttonBar_background;
			margin-right: 10px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			padding: 0px 15px;
			border: 1px solid #2D9663;
		}
		.pmui .pmui-buttonpanel .button-link{
			color : #000000;
			text-decoration: underline;
			background : inherit;
			padding : 0px 5px 0px 5px;
		}*/

		.pmui-form .pmui-formpanel {
			text-align : initial;
		} 
}