$MessageWindow-iconInfo_background : info-64 !default;
$MessageWindow-iconSuccess_background : success-64 !default;
$MessageWindow-iconWarning_background : warning-64 !default;
$MessageWindow-iconError_background : error-64 !default;
$MessageWindow-iconConfirmation_background : question-64 !default;
$MessageWindow-text_FontSize : 16px !default;

@mixin pmui-windowMessage(
		$MessageWindow-iconInfo_background : $MessageWindow-iconInfo_background,
		$MessageWindow-iconSuccess_background : $MessageWindow-iconSuccess_background,
		$MessageWindow-iconWarning_background : $MessageWindow-iconWarning_background,
		$MessageWindow-iconError_background : $MessageWindow-iconError_background,
		$MessageWindow-iconConfirmation_background : $MessageWindow-iconConfirmation_background,
		$MessageWindow-text_FontSize:$MessageWindow-text_FontSize
	) {

		.pmui-messagewindow-container {
		    margin: 10px;
		}

		.pmui-messagewindow-container tr,
		.pmui-messagewindow-container tr td {
		    margin: 0;
		    border: 0;
		    padding: 0;
		}
		.pmui-messagewindow-icon {
		    display: inline-block;
		    margin-right: 10px;
		}
		.pmui-messagewindow-icon-error {
	        @include pmui-sprite-sprite(#{$MessageWindow-iconError_background});
	    }

	    .pmui-messagewindow-icon-warning {
	        @include pmui-sprite-sprite(#{$MessageWindow-iconWarning_background});
	    }

	    .pmui-messagewindow-icon-info {
	        @include pmui-sprite-sprite(#{$MessageWindow-iconInfo_background});
	    }

	    .pmui-messagewindow-icon-success {
	        @include pmui-sprite-sprite(#{$MessageWindow-iconSuccess_background});
	    }

	    .pmui-messagewindow-icon-confirm {
	        @include pmui-sprite-sprite(#{$MessageWindow-iconConfirmation_background});
	    }
	    .pmui-window-body{
	    	font-Size:$MessageWindow-text_FontSize;
	    }
}