@mixin pmui-listpanel {
	.pmui-listpanel {
		border: 1px solid #bbb;
		font-size: 12px;
	}

	.pmui-listitem {
		border: solid 1px #bbb;
	}

	.pmui-listpanel-title,
	.pmui-listpanel-toolbar,
	.pmui-listpanel-statusbar {
		padding: 0.5em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.pmui-listpanel-title {
		min-height: 1em;
		background: #5f6c79;
		color: #FFF;
	}

	.pmui-listpanel-toolbar {
		font-size: 0.8em;
	}

	.pmui-listpanel-statusbar {
		background: #E9E9E9;
	}

	.pmui-listpanel-list {
		overflow: auto;
		border-color: #bbb;
		border-style: solid;
		border-width: 2px 0;
		padding: 0;
		margin: 0;
		border-collapse: collapse;
	}

	.pmui-listitem {
		list-style: none;
		border-color: #bbb;
		border-style: solid;
		border-width: 0 0 1px 0;
		padding: 0.5em;
		background: #f8f8f8;
	}

	.pmui-listpanel-list > .pmui-listitem:last-child {
		border-bottom: 0px
	}

	.pmui-listitem:nth-child(odd) {
		background: #eaebed;
	}

	.pmui-listitem:hover {
		background: #e0e0e0;
	}

	.pmui-listitem-icon,
	.pmui-listitem-text {
		display: inline-block;
		vertical-align: middle;
	}
	.pmui-listitem-icon {
		margin-right: 0.3em;
	}

	.pmui-listitem .pmui-toolbar.pmui-listitem-actions {
		text-align: right;
	}
}