$windowMessage-error_background-color : inherit !default;
$windowMessage-error-header_background-color : #e4655f !default;
$windowMessage-error-body_background-color : white !default;
$windowMessage-error-footer_background-color : white !default;
$windowMessage-error-label_color :  #58585b !default;
$windowMessage-error-label_fontSize : 16px !default;

$windowMessage-warning_background-color : inherit !default;
$windowMessage-warning-header_background-color : #edb60b !default;
$windowMessage-warning-body_background-color : white !default;
$windowMessage-warning-footer_background-color : white !default;
$windowMessage-warning-label_color :  #58585b !default;
$windowMessage-warning-label_fontSize : 16px !default;

$windowMessage-success_background-color : inherit !default;
$windowMessage-success-header_background-color : #2ddfb7 !default;
$windowMessage-success-body_background-color : white !default;
$windowMessage-success-footer_background-color : white !default;
$windowMessage-success-label_color :  #58585b !default;
$windowMessage-success-label_fontSize : 16px !default;

$windowMessage-default_background-color : inherit !default;
$windowMessage-default-header_background-color : #44afff !default;
$windowMessage-default-body_background-color : white !default;
$windowMessage-default-footer_background-color : white !default;
$windowMessage-default-label_color :  #58585b !default;
$windowMessage-default-label_fontSize : 16px !default;
$windowMessage-buttonpanel-label_fontSize : 16px !default;


@mixin windowMessage(
		$windowMessage-error_background-color :$windowMessage-error_background-color,
		$windowMessage-error-header_background-color :$windowMessage-error-header_background-color,
		$windowMessage-error-body_background-color :$windowMessage-error-body_background-color,
		$windowMessage-error-footer_background-color :$windowMessage-error-footer_background-color,
		$windowMessage-error-label_color :$windowMessage-error-label_color,
		$windowMessage-error-label_fontSize :$windowMessage-error-label_fontSize,

		$windowMessage-warning_background-color :$windowMessage-warning_background-color,
		$windowMessage-warning-header_background-color :$windowMessage-warning-header_background-color,
		$windowMessage-warning-body_background-color :$windowMessage-warning-body_background-color,
		$windowMessage-warning-footer_background-color :$windowMessage-warning-footer_background-color,
		$windowMessage-warning-label_color :$windowMessage-warning-label_color,
		$windowMessage-warning-label_fontSize :$windowMessage-warning-label_fontSize,

		$windowMessage-success_background-color :$windowMessage-success_background-color,
		$windowMessage-success-header_background-color :$windowMessage-success-header_background-color,
		$windowMessage-success-body_background-color :$windowMessage-success-body_background-color,
		$windowMessage-success-footer_background-color :$windowMessage-success-footer_background-color,
		$windowMessage-success-label_color :$windowMessage-success-label_color,
		$windowMessage-success-label_fontSize :$windowMessage-success-label_fontSize,

		$windowMessage-default_background-color :$windowMessage-default_background-color,
		$windowMessage-default-header_background-color :$windowMessage-default-header_background-color,
		$windowMessage-default-body_background-color :$windowMessage-default-body_background-color,
		$windowMessage-default-footer_background-color :$windowMessage-default-footer_background-color,
		$windowMessage-default-label_color :$windowMessage-default-label_color,
		$windowMessage-default-label_fontSize :$windowMessage-default-label_fontSize,
		$windowMessage-buttonpanel-label_fontSize : $windowMessage-buttonpanel-label_fontSize
	) {
			.pmui-windowmessage.pmui-windowmessage-error {
				background-color : $windowMessage-error_background-color;
				.pmui-window-header {
					background-color : $windowMessage-error-header_background-color;
					padding: 7px 15px;
				}
				.pmui-window-body {
					background-color : $windowMessage-error-body_background-color;
					color :$windowMessage-error-label_color;
					font-size : $windowMessage-error-label_fontSize;
					padding : 20px 30px 20px 30px;
				}
				.pmui-messagewindow-message {
					font-size : $windowMessage-error-label_fontSize;
                                        -webkit-user-select:text;
                                        -moz-user-select:text;
                                        user-select:text;
				}
				.pmui-window-footer {
					background-color : $windowMessage-error-footer_background-color;
				}
				/*.pmui-buttonpanel .pmui-button {
					background-color :  $windowMessage-error-header_background-color;
				}
				.pmui-buttonpanel .pmui-link {
					background : none;
				}*/

			}

			.pmui-windowmessage.pmui-windowmessage-warning {
				background-color : $windowMessage-warning_background-color;
				.pmui-window-header {
					background-color : $windowMessage-warning-header_background-color;
					padding: 7px 15px;
				}
				.pmui-window-body {
					background-color : $windowMessage-warning-body_background-color;
					color :$windowMessage-warning-label_color;
					font-size : $windowMessage-warning-label_fontSize;

				}

				.pmui-messagewindow-message {
					font-size : $windowMessage-success-label_fontSize;
                                        -webkit-user-select:text;
                                        -moz-user-select:text;
                                        user-select:text;
				}

				.pmui-window-footer {
					background-color : $windowMessage-warning-footer_background-color;
				}

				/*.pmui-buttonpanel .pmui-button {
					background-color : $windowMessage-warning-header_background-color ;
				}
				.pmui-buttonpanel .pmui-link {
					background : none;
				}*/
			}

			.pmui-windowmessage.pmui-windowmessage-success {
				background-color : $windowMessage-success_background-color;
				.pmui-window-header {
					background-color : $windowMessage-success-header_background-color;
					padding: 7px 15px;
				}
				.pmui-window-body {
					background-color : $windowMessage-success-body_background-color;
					color :$windowMessage-success-label_color;
					font-size : $windowMessage-success-label_fontSize;

				}

				.pmui-messagewindow-message {
					font-size : $windowMessage-success-label_fontSize;
                                        -webkit-user-select:text;
                                        -moz-user-select:text;
                                        user-select:text;
				}

				.pmui-window-footer {
					background-color : $windowMessage-success-footer_background-color;
				}
				/*.pmui-buttonpanel .pmui-button {
					background-color : $windowMessage-success-header_background-color;
				}
				.pmui-buttonpanel .pmui-link {
					background : none;
				}*/
			}

			.pmui-windowmessage.pmui-windowmessage-default {
				background-color : $windowMessage-default_background-color;
				.pmui-window-header {
					background-color : $windowMessage-default-header_background-color;
					padding: 7px 15px;
				}
				.pmui-window-body {
					background-color : $windowMessage-default-body_background-color;
					color :$windowMessage-default-label_color;
					font-size : $windowMessage-default-label_fontSize;
					
				}
				
				.pmui-messagewindow-message {
					font-size : $windowMessage-default-label_fontSize;
                                        -webkit-user-select:text;
                                        -moz-user-select:text;
                                        user-select:text;
				}

				.pmui-window-footer {
					background-color : $windowMessage-default-footer_background-color;
				}
				/*.pmui-buttonpanel .pmui-button {
					background-color : $windowMessage-default-header_background-color;
				}
				.pmui-buttonpanel .pmui-link {
					background : none;
				}*/
			}

			.pmui-windowmessage .pmui-buttonpanel .pmui-button{
				padding-left: 25px;
				padding-right: 25px;
				border-radius: 2px;
			}
			.pmui-windowmessage  .pmui-buttonpanel .pmui-textlabel {
				margin-left : 5px;
			}
			.pmui-windowmessage .pmui-buttonpanel .pmui-link {
				padding: initial;
				margin-left : 5px;
			}
			.pmui-windowmessage .pmui-window-footer{
 				padding: 10px;
				border-top: 1px solid #e5e5e5;
				background : white;
			}

			.pmui-windowmessage .pmui-window-body {
				padding : 20px 30px 20px 30px;
				font-family: Chivo-regular, sans-serif;
			}

			.pmui-windowmessage .pmui-textlabel {
				font-size : $windowMessage-buttonpanel-label_fontSize;
			}

			.pmui-windowmessage .pmui-buttonpanel .pmui-button {
				margin-left : 10px;
			}
			.pmui-windowmessage .pmui-window-title {
				text-align : center;
			}
	}