//tabItem
$tabItem-title_fontSize:15px !default;
$tabItem-title_color : #4D5B6A !default;
$tabItem-title_text-transform : none !default;
$tabItem-active_background: #EDB60B !default;
$tabItem-active_textColor: #FFF !default;
$tabItem-active_border: 1px solid #ddd;
$tabItem-active_bordertop: 3px solid #3397e1;
$tabItem-active_borderstyle : solid !default;
$tabItem-active_bordercolor : #C7CDD4 !default;
$tabItem-active_borderwidth : 1px !default;
$tabItem-background:#C7CDD4 !default;
$tabItem_hover-background: #4D5B6A !default;
$tabItem_hover-textColor : #E9EBEE !default;
$tabItem_hover-borderstyle : solid !default;
$tabItem_hover-bordercolor : #C7CDD4 !default;
$tabItem_hover-borderwidth : 1px !default;
$tabItem-title_overflow : hidden !default;
//tabPanel
$tabpanel-panelContainer_background : #FFF !default;
$tabpanel-panelContainer_overflow   : visible !default;
$tabPanel_background : none !default;
$tabPanel-tabs_border-bottom : #DADFE4 !default;  


@mixin pmui-tabItem(
        $tabpanel : tabpanel,
        $tabItem-title_fontSize:$tabItem-title_fontSize,
        $tabItem-active_background  : $tabItem-active_background,
        $tabItem-active_textColor   : $tabItem-active_textColor,
        $tabItem-active_border      : $tabItem-active_border,
        $tabItem-active_bordertop   : $tabItem-active_bordertop,
        $tabItem-active_borderstyle : $tabItem-active_borderstyle,
        $tabItem-active_bordercolor : $tabItem-active_bordercolor,
        $tabItem-active_borderwidth : $tabItem-active_borderwidth,
        $tabItem-background  : $tabItem-background,
        $tabItem-title_color : $tabItem-title_color,
        $tabItem_hover-borderstyle : $tabItem_hover-borderstyle,
        $tabItem_hover-bordercolor : $tabItem_hover-bordercolor,
        $tabItem_hover-borderwidth : $tabItem_hover-borderwidth,
        $tabItem_hover-background  : $tabItem_hover-background,
        $tabItem_hover-textColor   : $tabItem_hover-textColor,
        $tabpanel-panelContainer_background : $tabpanel-panelContainer_background,
        $tabpanel-panelContainer_overflow   : $tabpanel-panelContainer_overflow,
        $tabItem-title_overflow : $tabItem-title_overflow,
        $tabPanel-tabs_border-bottom : $tabPanel-tabs_border-bottom,
        $tabPanel_background : $tabPanel_background
    ){
        .pmui-tabpanel {
            background : $tabPanel_background;
        }
        .pmui-tabpanel-tabs,
        .pmui-tabitem {
            //float: left;
        }
        .pmui-tabpanel-container{
            background: $tabpanel-panelContainer_background;
            overflow:   $tabpanel-panelContainer_overflow;
        }

        .pmui-tabpanel-tabs {
            padding: 0;
            margin: 0;
            border-bottom: 1px solid $tabPanel-tabs_border-bottom;
            width: 92%;
        }

        .pmui-tabitem {
            font-size: $tabItem-title_fontSize;
            font-weight: normal;
            text-transform: $tabItem-title_text-transform;
            margin: 0 4px;
            //border-bottom: 1px solid #ddd;
        }

        .pmui-tab-ref {
            display: block;
            color: $tabItem-title_color;
            text-decoration: none;
            background: $tabItem-background;
            padding: 0.6em 0.9em;
            -webkit-transition: all .4s;
            -moz-transition: all .4s;
            -ms-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
        }

        .pmui-tabitem.pmui-active .pmui-tab-ref {
            color:        $tabItem-active_textColor;
            background:   $tabItem-active_background;
            border:       $tabItem-active_border;
            border-top:   $tabItem-active_bordertop;
        }

        .pmui-tabitem:hover .pmui-tab-ref {
            color:        $tabItem_hover-textColor;
            background:   $tabItem_hover-background;
        }

        .pmui-tab_title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: $tabItem-title_overflow;
            display: inline-block;
        }

        .pmui-tabpanel-left {
            .pmui-tabpanel-tabs {
                border-bottom: 0;
                padding-right: 6px;
            }
            .pmui-tabitem {
                //float: left;
                clear: both;
                text-align: left;
                /*width: 100%;*/
                margin: 2px 0;
            }
        }
        .pmui-collapsibleBar{
            width : 5px;
            background: white;
            border-left: 1px solid #dadfe4;   
        }

        .pmui-tab-icon{
            float : left;
            width : auto;
            height: 20px;
        }
}
