
// @mixin pmui-toolbar(
// 	$namespace: pmui,
// 	$base: toolbar
// ) {
// 	.#{$namespace}-#{$base} {
// 	}
// }

@mixin pmui-toolbaritem(
	$namespace: pmui,
	$base: toolbaritem
) {
	.#{$namespace}-#{$base} {
		display: inline-block;
		margin: 2px;
	}
}