$tooltipMessage-message_fontSize : 0.8em !default;
$tooltipMessage-iconWarning_background : warning !default;
$tooltipMessage-iconInfo_background : information !default;
$tooltipMessage-iconError_background : error !default;
$tooltipMessage-iconHelper_background : help !default;


@mixin tooltip (
		$tooltipMessage-message_fontSize : $tooltipMessage-message_fontSize,
		$tooltipMessage-iconWarning_background : $tooltipMessage-iconWarning_background,
		$tooltipMessage-iconInfo_background : $tooltipMessage-iconInfo_background,
		$tooltipMessage-iconError_background : $tooltipMessage-iconError_background,
		$tooltipMessage-iconHelper_background : $tooltipMessage-iconHelper_background
	){
		.pmui-tooltip .pmui-icon {
		    background-repeat: no-repeat;
		    display: inline-block;
			margin-left: 3px;
			float : right;
			margin-top:5px;
		}

		.pmui-icon-help {
	        @include pmui-sprite-sprite(#{$tooltipMessage-iconHelper_background});

	    }

	    .pmui-icon-info {
	        @include pmui-sprite-sprite(#{$tooltipMessage-iconInfo_background});
	    }

	    .pmui-icon-error {
	        @include pmui-sprite-sprite(#{$tooltipMessage-iconError_background});
	    }

	    .pmui-icon-warning {
	        @include pmui-sprite-sprite(#{$tooltipMessage-iconWarning_background});
	    }

		.pmui-tooltip {
		    margin-left: 5px;
		    border-radius: 1em;
		}

		.pmui-tooltip-message {
		    margin: 0 5px 0 3px;
		}

		.pmui .pmui-tooltip-mode-normal .pmui-tooltip-message {
		    font-size: $tooltipMessage-message_fontSize;
		}

		.pmui-field-message-container {
		    display: block;
		}

		.pmui-tooltip-category-error {
		    color: #F00;
		}
}
