$window-modal_backgroundColor: rgba(0, 0, 0, 0.4) !default;
$window_backgroundColor: #FFF !default;
$window-header_backgroundColor: #69727e !default;
$window-title_color: #FFF !default;
$window-title_fontSize: 14px !default;
$window-body_background: #FFF !default;
$window-body_textAlign: center !default;

$window-buttonBar_backgroudColor: #FFF !default;
$window-close_hover-opacity : 0.70 !default;
$window_shadow: 3px 3px 8px rgba(0, 0, 0, 0.4) !default;
$window-title_texttransform: uppercase !default;
$window-close_hover-transform : scale(0.9) !default;
$window-close-margin: -3px 0 0 0 !default;
$window-closeIcon_background:window-close;
$window-panelButtons_fontSize : 16px !default;
$window-body_fontFamily : "SourceSansPro" !default;
$window-header_fontFamily : Chivo-regular, sans-serif !default;
$window-header-close_fontFamily : "Chivo" !default;
$window-buttonPanel_radius : 1px !default;
$window-buttonpanel_padding : 10px !default;

@mixin pmui-window(
		$base: window,
		$window-modal_background: $window-modal_backgroundColor,
		$window_background: $window_backgroundColor,
		$window_shadow: $window_shadow,
		$window-header_background: $window-header_backgroundColor,
		$window-header_textcolor: $window-title_color,
		$window-header_fontsize: $window-title_fontSize,
		$window-close-margin: $window-close-margin,
		$window-title_texttransform: $window-title_texttransform,
		$window-body_background: $window-body_backgroud,
		$window-close_hover-opacity : $window-close_hover-opacity,
		$window-close_hover-transform : $window-close_hover-transform,
		$window-closeIcon_background:$window-closeIcon_background,
		$window-body_textAlign:$window-body_textAlign,
		$window-buttonPanel_radius : $window-buttonPanel_radius,
		$window-panelButtons_fontSize : $window-panelButtons_fontSize,
		$window-body_fontFamily :$window-body_fontFamily,
		$window-header_fontFamily : $window-header_fontFamily,
		$window-header-close_fontFamily :$window-header-close_fontFamily,
		$window-buttonpanel_padding : $window-buttonpanel_padding
	) {
	.pmui-#{$base}-modal {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: $window-modal_background;
		left: 0;
		top: 0;
		z-index: 100;
	}
	.pmui-#{$base} {
		display: inline-block;
		position: absolute;
		background-color: $window_background;
		@include box-shadow($window_shadow);
	}
	.pmui-#{$base}-header {
	    background: $window-header_background;
	    color: $window-header_textcolor;
	    text-align: left;
	    padding: 10px 15px;
	    cursor: move;
	    font-size: $window-header_fontsize;
		border-bottom: 1px solid #e5e5e5;
	    //height: 1em;
	}
	.pmui-#{$base}-close.pmui-button {
	    border: none;
	    //@include transition(all .4s);
	    padding: 0px 6px;
	}
	.pmui-#{$base} .pmui-#{$base}-close .button-icon:hover {
		/*
		//@include transform(scale(0.90));
		//@include opacity(0.7);
		-moz-opacity:$window-close_hover-opacity;
		-khtml-opacity:$window-close_hover-opacity;
		opacity: $window-close_hover-opacity;
		-ms-transform:$window-close_hover-transform;
		-webkit-transform:$window-close_hover-transform;
		-moz-transform:$window-close_hover-transform;
		-o-transform:$window-close_hover-transform;
		filter: alpha(opacity=70);*/
		color: #000;
		text-decoration: none;
		cursor: pointer;
		opacity: .5;
		filter: alpha(opacity=50);
	}
	.pmui.pmui-#{$base}-close {
	    /*background: none;*/
		padding: 0;
		cursor: pointer;
		background: 0 0;
		border: 0;
		-webkit-appearance: none;
	    margin: $window-close-margin;
	   
	    .button-icon {
	        //@include pmui-sprite-sprite(#{$window-closeIcon_background});
	        /*display: inline-block;
	        height: 15px;
			width: 18px;*/
			float: right;
			font-size: 24px;
			font-weight: 700;
			color: #000;
			text-shadow: 0 1px 0 #fff;
			opacity: .2;
			filter: alpha(opacity=20);
			font-family : $window-header-close_fontFamily;
	    }

	    .button-label {
	        display: none;
	    }
	}
	.pmui-#{$base}-title {
	    text-transform: $window-title_texttransform;
	    display: block;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	    font-family : $window-header_fontFamily;
	}
	.pmui-#{$base}-body {
	    background-color:$window-body_background;
	    padding: 0px 0px;
	    overflow: auto;
	    text-align: $window-body_textAlign;
	    font-family : $window-body_fontFamily;
	    @include box-sizing(border-box);
	}
	.pmui-#{$base}-toolbar-top,
	.pmui-#{$base}-toolbar-bottom {
		overflow: hidden;
		padding: 10px;
		width:  100%;
		box-sizing : border-box;
		@include box-sizing(border-box);
	}

	.pmui-window .pmui-buttonpanel .pmui-button{
		margin-left : 5px;
		margin-right : 5px;
	}/*
	.pmui-window .pmui-buttonpanel .pmui-link{
		margin-left:3.5px;
		margin-right:3.5px; 
		padding: initial;
		font-size : $window-panelButtons_fontSize;
	}
	.pmui-window .pmui-buttonpanel .pmui-textlabel {
  		margin-left : 3.5px;
  		margin-right : 3.5px
	}*/
	.pmui-window .pmui-buttonpanel {
	 	padding : $window-buttonpanel_padding;
		border-top: 1px solid #e5e5e5
	}

}

