.pmui-treepanel-node-father > .pmui-treepanel-node-title .pmui-treepanel-node-icon {
    background: url(../img/folder-open.gif) no-repeat center;
    width: 16px;
    height: 16px;
}

.pmui-treepanel-node-father.pmui-treepanel-node-collapsed .pmui-treepanel-node-icon {
    background: url(../img/folder.gif) no-repeat center;
}

.pmui-treepanel-node-leaf .pmui-treepanel-node-icon {
    background: url(../img/leaf.gif) no-repeat center;
    width: 16px;
    height: 16px;
}